+font-face("icons", font-files("icons.woff", "icons.ttf", "icons.svg"), "icons.eot?#iefix", normal, normal)

[class^="icon-"], [class*=" icon-"]
  font-family: "icons"
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: inherit
  // Better Font Rendering =========== //
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  display: inline-block
  text-decoration: inherit

  margin-right: .15em
  text-align: center

  // Animation center compensation - margins should be symmetric remove if not needed
  margin-left: .15em

  // Uncomment for 3D effect
  // text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3)

  // Avoid text selection
  user-select: none

.icon
  font-family: "icons"

.icon-twitter2:before
  content: "\e900"

.icon-linkedin2:before
  content: "\e907"

.icon-eth1:before
  content: "\e90a"

.icon-eth2:before
  content: "\e90c"

.icon-linkedin1:before
  content: "\e90d"

.icon-twitter1:before
  content: "\e90e"

.icon-telegram1:before
  content: "\e90f"

.icon-telegram2:before
  content: "\e910"

.icon-github2:before
  content: "\e908"

.icon-github1:before
  content: "\e909"

.icon-medium1:before
  content: "\e911"

.icon-medium2:before
  content: "\e90b"

.icon-slack2:before
  content: "\e901"

.icon-reddit2:before
  content: "\e902"

.icon-bitcoin2:before
  content: "\e903"

.icon-bitcoin1:before
  content: "\e904"

.icon-reddit1:before
  content: "\e905"

.icon-slack1:before
  content: "\e906"

// .icon-telegram:before
//   content: "\ea95"
