+font-face("icons", font-files("icons.woff", "icons.ttf", "icons.svg"), "icons.eot?#iefix", normal, normal)

[class^="icon-"], [class*=" icon-"]
  font-family: "icons"
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: inherit
  // Better Font Rendering =========== //
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  display: inline-block
  text-decoration: inherit

  margin-right: .15em
  text-align: center

  // Animation center compensation - margins should be symmetric remove if not needed
  margin-left: .15em

  // Uncomment for 3D effect
  // text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3)

  // Avoid text selection
  user-select: none

.icon
  font-family: "icons"

.icon-fail:before
  content: "\e900"

.icon-check:before
  content: "\e93c"

.icon-routine:before
  content: "\e93d"

.icon-gears:before
  content: "\e93e"

.icon-car:before
  content: "\e93f"

.icon-percent:before
  content: "\e940"

.icon-time:before
  content: "\e941"

.icon-minus:before
  content: "\e942"

.icon-plus:before
  content: "\e947"

.icon-prev:before
  content: "\e948"

.icon-next:before
  content: "\e949"
