#footer
  padding: 20px 0
  background-color: $white
  .logo
    display: block
  .whitepaper
    h3
      margin-right: 20px
    form, h3, input, button
      display: inline-block
      width: auto
      vertical-align: middle
      input
        border-radius
        border-top-right-radius: 0
        border-bottom-right-radius: 0
        margin: 0

      button
        padding: 10px 25px
        border-top-left-radius: 0
        border-bottom-left-radius: 0
  .links
    padding: 20px 0

