#footer
  padding: 40px 0
  background-color: $white
  position: relative
  text-align: center
  +desktop
    text-align: left
  .logo
    display: block
    +mobile
      width: 60%
      margin: auto
  #whitepaper
    h2
      margin-right: 20px
      +text-gradient(left, $secondary-color, $primary-color)
      +mobile
        margin-right: 0
        font-size: $font-size-xl
    .newsletter, input, button
      display: inline-block
      width: auto
      vertical-align: middle
    .newsletter
      input
        border-top-right-radius: 0
        border-bottom-right-radius: 0
        margin: 0
        min-width: 400px
        +mobile
          min-width: 100px
          width: 100%
          max-width: 260px
          // border-top-left-radius: 0
          // border-bottom-left-radius: 0
          border-top-right-radius: 50px
          border-bottom-right-radius: 50px
          text-align: left
      button
        border-top-left-radius: 0
        border-bottom-left-radius: 0
        +mobile
          border-top-left-radius: 50px
          border-bottom-left-radius: 50px
          margin: 10px auto
          min-width: 100px
          width: 260px
          max-width: 260px
    .after-submit
      display: none
      padding: 12px 0
      strong
        color: $secondary-color
    &.submitted
      .before-submit
        display: none
      .after-submit
        display: block
  .links
    padding: 20px 0 0
    span
      margin-right: 20px
      +mobile
        margin-right: 0
    a
      color: $base-font-color
      margin: 0 5px
