#header
  height: $nav-height
  background-color: $white
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 1000
  +mobile
    height: $nav-height-mobile
  .container
    height: 100%
    display: flex
    align-items: center
    justify-content: space-between
  .download
    flex: 1 1 auto
    text-align: right
    padding: 0 15px 0 0
    font-weight: bold
    +mobile
      padding: 0
    a, img
      vertical-align: middle
      color: $base-font-color
    +tablet
      font-size: $font-size-s
    +mobile
      font-size: $font-size-s
    img
      margin-left: 7px
      margin-bottom: 5px
      padding: 2px
      border-radius: 100%
      +bg-color-hover($orange)
      +size(30px)
  .logo
    flex: 0 0 210px
    img
      vertical-align: middle
    +mobile
      max-width: 130px
  .talk
    flex: 0 0 210px
    text-align: right
    +mobile
      position: fixed
      bottom: 0
      right: 0
      flex: 1 1 auto
    a
      display: inline-block
      text-align: center
      vertical-align: middle
      max-width: 40px
      +mobile
        margin: 0
      .text
        font-size: $font-size-xs
        +color-hover($base-font-color)
        display: none
        // +desktop
        //   display: block
        //   margin-top: -3px
      .icon
        background-color: tint($cyan, 30%)
        border-radius: 100%
        margin: auto
        color: $white
        +event
          background-color: $cyan
        +tablet
          margin: auto 5px
        +mobile
          box-shadow: $shadow
        +size(32px)
        font-size: $font-size-xxl
        line-height: $font-size-xxl
        margin: 3px
