#header
  height: $nav-height
  background-color: $white
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 10
  +mobile
    height: $nav-height-mobile
  .container
    height: 100%
    display: flex
    align-items: center
    justify-content: space-between
  .logo
    +mobile
      max-width: 150px
      padding-top: 5px
  .talk a
    display: inline-block
    text-align: center
    vertical-align: middle
    +desktop
      min-width: 70px
    +mobile
      margin: 0
    .text
      font-size: $font-size-s
      font-weight: bold
      +color-hover($base-font-color)
      display: none
      +desktop
        display: block
    .link
      +bg-color-hover(tint($cyan, 30%))
      border-radius: 100%
      margin: auto
      +size(43px)
      background-repeat: no-repeat
      background-position: center
      +tablet
        margin: auto 5px
      +mobile
        +size(30px)
        background-size: 65%
        margin: 3px
      &.slack
        background-image: url('/assets/images/header-slack.png')
      &.reddit
        background-image: url('/assets/images/header-reddit.png')
      &.bitcoin
        background-image: url('/assets/images/header-bitcoin.png')
