#index
  #content-page
    #intro
      background-image: linear-gradient(to right,$pink, $orange)
      width: 100%
      display: flex
      align-items: center
      color: $white
      min-height: $mobile-height - $nav-height-mobile
      max-height: $desktop-width - $nav-height
      height: calc(100vh - #{$nav-height})
      position: relative
      .bg-particles
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
      #bg-particles1
        +bg-image(inherit, '/assets/images/particles/bg-particles1.png')
      #bg-particles2
        +bg-image(cover, '/assets/images/particles/bg-particles2.png')

      .split
        position: relative
      .item
        &.left
          flex-basis: 35%
          display: flex
          align-items: center
          +tablet
            flex-basis: 50%
        &.right
          flex-basis: 65%
          +tablet
            flex-basis: 50%
        strong
          margin-right: 0.2em
          display: block
          +desktop
            display: inline
        p
          padding-right: 20px
          line-height: 1.7em
          +mobile
            padding-right: 0
        button
          margin-top: 20px
      #intro-image
        display: block
        height: 100%
        img
          display: block
          margin-left: auto
          margin-right: 0
          +mobile
            display: none