$how-image-top-position: 90px

#index
  #content-page
    #intro
      background-image: linear-gradient(to right,$secondary-color, $orange)
      width: 100%
      display: flex
      align-items: center
      overflow: hidden
      color: $white
      min-height: $mobile-height - $nav-height-mobile
      max-height: $desktop-width - $nav-height
      height: calc(100vh - 2*(#{$nav-height}))
      position: relative
      +mobile
        max-height: $desktop-width - $nav-height-mobile
        height: calc(100vh - 2*(#{$nav-height-mobile}))
      .bg-particles
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
      #bg-particles1
        +bg-image(inherit, '/assets/images/particles/bg-particles1.png')
      #bg-particles2
        +bg-image(cover, '/assets/images/particles/bg-particles2.png')
      .split
        position: relative
      .item
        &.left
          flex-basis: 35%
          display: flex
          align-items: center
          +tablet
            flex-basis: 50%
        &.right
          flex-basis: 65%
          +tablet
            flex-basis: 50%
        strong
          margin-right: 0.2em
          display: block
          +desktop
            display: inline
        p
          padding-right: 20px
          line-height: 1.7em
          +mobile
            padding-right: 0
        button
          margin-top: 20px
        #intro-image
          display: block
          height: 100%
          img
            display: block
            margin-left: auto
            margin-right: 0
            +mobile
              display: none
    #featured
      .container
        height: $nav-height
        background-color: $white
        display: flex
        justify-content: space-between
        align-items: center
        +mobile
          height: $nav-height-mobile
      .logo
        flex: 1 1 auto
        height: 41px
        +mobile
          height: 30px
      #health20
        +bg-image(contain, '/assets/images/featured/health20.png')
      #launchpad
        +bg-image(contain, '/assets/images/featured/launchpad.png')
    #explanation-title
      display: inline-block
      .line
        +text-gradient(left, $secondary-color, $primary-color)
    #how
      background-image: linear-gradient(to right,$primary-color, $secondary-color)
      color: $white
      margin-top: $how-image-top-position
      padding: (2 * $how-image-top-position) 0
      position: relative
      +tablet
        margin-top: $how-image-top-position / 2
        padding: $how-image-top-position 0
      +mobile
        padding: 20px 0
        margin-top: 0
      #how-image
        top: - $how-image-top-position
        margin-left: - $how-image-top-position / 2
        position: absolute
        +tablet
          width: 250px
          top: - $how-image-top-position / 2
          margin-left: 0
        +mobile
          display: none
      #how-title
        text-align: center
        margin: 60px 0
        +mobile
          margin: 20px 0
        span
          &:first-child
            color: tint($cyan, 75%)
          &:last-child
            color: $cyan
        strong
          color: tint($cyan, 40%)
      .item
        padding: 0 40px
        +mobile
          padding: 0
    #team
      #team-title
        +text-gradient(left, $secondary-color, $primary-color)
        display: inline-block
        margin: 80px 0
      .team-wrapper
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        .member
          flex: 0 0 25%
          +mobile
            flex: 0 0 100%
    #contact
      background-image: linear-gradient(to right,$secondary-color, $orange)
      color: $white
      .melt
        height: 575px
        background-image: url('assets/images/bg-melt.png')
        +mobile
          height: 100px
          background-size: contain
      .container
        display: flex
        justify-content: center
        align-items: center
        padding: 50px 0 150px
        +tablet
          padding: 0px 0 100px
        +mobile
          padding: 50px 0
      .logo
        text-align: center
        margin: 50px 0
      .contact-links
        text-align: center
        a
          display: inline-block
          color: $white
          padding: 30px 20px
          +mobile
            width: 100%
          .text
            margin-top: 10px
