include ../components/header
include ../components/footer
include ../components/analytics
include ../components/team

doctype html
html(lang="es")
  head
    title HearthyCo
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(description='')

    link(rel="shortcut icon", href="/assets/favicon.ico", type="image/x-icon")
    link(href='style.css', rel='stylesheet')
    script(src='main.js')
    +analytics()
  body#index.page
    +header()
    #content-page
      section#intro
        #bg-intro-particles1.bg-particles
        #bg-intro-particles2.bg-particles
        .particles
          picture#intro-particle-4.particle
            source(srcset='/assets/images/particles/particle-4.webp', type='image/webp')
            img(src='/assets/images/particles/particle-4.png', alt='partilcle')
          picture#intro-particle-3.particle
            source(srcset='/assets/images/particles/particle-3.webp', type='image/webp')
            img(src='/assets/images/particles/particle-3.png', alt='partilcle')
          picture#intro-particle-2.particle
            source(srcset='/assets/images/particles/particle-2.webp', type='image/webp')
            img(src='/assets/images/particles/particle-2.png', alt='partilcle')
        .container.split
          .item.left
            .item-content
              h1#intro-title
                .line
                  span Universal Digital
                .line
                  strong Health Care
                  span delivered
              p With Hearthy we want to create a decentralized, open and sustainable ecosystem to improve health care access to everyone, regardless of income, making health care effiicient, agnostic to jurisdiction and user-centered.
              a(href="/assets/images/Hearthy-whitepaper.pdf", target='_blank').button Download whitepaper
          .item.right
            #intro-layers
              picture#layer-3.layer
                source(srcset='/assets/images/intro-layers/layer-3.webp', type='image/webp')
                img(src='/assets/images/intro-layers/layer-3.png', alt='intro image layer 3')
              picture#layer-2.layer
                source(srcset='/assets/images/intro-layers/layer-2.webp', type='image/webp')
                img(src='/assets/images/intro-layers/layer-2.png', alt='intro image layer 2')
              picture#layer-1.layer
                source(srcset='/assets/images/intro-layers/layer-1.webp', type='image/webp')
                img(src='/assets/images/intro-layers/layer-1.png', alt='intro image layer 1')
        .particles
          picture#intro-particle-1.particle
            source(srcset='/assets/images/particles/particle-1.webp', type='image/webp')
            img(src='/assets/images/particles/particle-1.png', alt='partilcle')
      section#featured
        .container
          .logo#health20
          .logo#launchpad
      section#explanation
        #fixed-content
          .container
            #issues
              #issue-1.issue
                .split
                  .item.left
                    h1#explanation-title
                      .line
                        span What problems
                      .line
                        strong Hearhty 
                        span solves?
                    #text-1.text
                      h3 Economic access to healthcare 
                      p Reducing intermediation costs and the medical time in each visit and having an access to a more consistent PHR could provide a more economic access to health care. 
                      p The creation of an open source ecosystem will make it easier for an underdeveloped health system to join our project. 
                      p All our project is open source, and all the developments made under its umbrella will be, no onboarding by health systems will be easylnstalling actual PHR is quite expensive, some of the rising economies don't have enough resources to implement proprietary technologies which leads them to buy or create Low-Level non-in-teroperable systems.
                  .item.right
                    .animation#animation-1
              #issue-2.issue
                .split
                  .item.left
                    h1#explanation-title
                      .line
                        span What problems
                      .line
                        strong Hearhty 
                        span solves?
                    #text-2.text
                      h3 Empowering patients 
                      p By own and control their clinical records a. by having medical services agnostic of their jurisdiction we can empower patients. boosting self-aware a. self-care, automated agents las described later) can be a huge plus here. it Recent study (2) show that auto-mated agents linked can have great clinical outcomes.
                      p Other study (3) also suggest that allowing patients to record their symptoms on web based interface generate better survival rates on certain types of cancer. generating more survival rate than actual medication.
                  .item.right
                    .animation#animation-2
              #issue-3.issue
                .split
                  .item.left
                    h1#explanation-title
                      .line
                        span What problems
                      .line
                        strong Hearhty 
                        span solves?
                    #text-3.text
                      h3 Ownership of data and user centric KYC
                      p We give the owner of the data total control over his or her information. The owners can control who gets access to their data, the reason for it and what kind of data they want to obtain. Sharing data with providers and researchers can generate benefits for the users, in form of tokens or cash back in premiums. We will create a system which, by design, ensures the users that the clinical data cannot be used against them. In order to do that, we will provide a dashboard of control that not only will allow the user to control who has access to the data but why. 
                      p Furthermore, we will increase health literacy among our users hence providing the right tools for them to make informed decisions about the data they share.
                  .item.right
                    .animation#animation-3
              #issue-4.issue
                .split
                  .item.left
                    h1#explanation-title
                      .line
                        span What problems
                      .line
                        strong Hearhty 
                        span solves?
                    #text-4.text
                      h3 Proof of identity
                      p We manage the third problem when it comes to PHRs. There are 1,500 million unidentified  people in the World. How can we grant them the right to health care if they cannot prove their identity? With biometric and signature based protection we can create a unique ID for every user, without depending on any jurisdiction or health service, all the rest of identification will be constructed on an additional layer, or combined with other services, such as CIVIC.
                      p Also our PHR can be exported, printed or shared just by the user.The data belong to the patient, not to an institution, a State or even us
                  .item.right
                    .animation#animation-4
              #issue-5.issue
                .split
                  .item.left
                    h1#explanation-title
                      .line
                        span What problems
                      .line
                        strong Hearhty 
                        span solves?
                    #text-5.text
                      h3 Open Research
                      p Accessing health data can be tough for researchers, but it can be improved by creating an  aggregated anonymized repository of medical data which can give researchers and developers tools to create predictive models, population health apps...
                      p Our repository will be open to everyone, and every individual can give access to their anonymized data if they want, just by telling the user why they want the data and who they are. Users can also be rewarded for sharing their medical data.
                  .item.right
                    .animation#animation-5
      section#how
        .container
          #how-image
          h1#how-title
            span How 
            strong Hearthy 
            span works?
          .split
            .item.left
              p Reducing intermediation costs and the medical time in each and having an access to a more consistent PHR could provide a more economic access to health care. 
              p The creation of an open source ecosystem will make it easier underdeveloped health system to join our project.
              p All our project is open source, and all the development made under its umbrella will be, so onboarding by health systems will be easy. Installing actual PHR is quite expensive, some of the rising economies don't have enough resources to implement propietary technologies which leads them to buy or create low-level non-interoperable systems.

            .item.right
              p With Hearthy, we want to create a decentralized, open and sustainable ecosystem to improve health care access for everyone, regardless of income, making healthcare more efficient, and more user-centered.
              p Our ecosystem will consist of:
              ul
                li
                  p
                    strong A Protocol: 
                    span a Personal Health Record (PHR) which relies on distributed ledger technologies that can be used and owned by the patient.
                li 
                  p
                    strong A Coin: 
                    span The &#128154 (HTY) which will fuel the ecosystem.
                li 
                  p
                    strong A suite of open source tools and applications: 
                    span they will boost the traction of the protocol and create the first generation of services.
      section#economy
        .container
          h1#economy-title 
            span A 
            strong health-oriented 
            span economy
          .split
            .item.left
              p One of the biggest problems in health care is related to the fact that economic success of organizations related to health care is not necessarily linked to their health outcomes. This happens routinely (eg. homeopathy) and creates huge distortions and inefficiencies in the market. A health-related token and a health- oriented economy must encourage users and organizations to achieve better health outcomes.
              p Every organization working at the ecosystem will have a Health Score., based on its combined user health scorings, that can result in lower fees for the organizations demonstrating the best performance.
            .item.right
              p Thi also help us to achieve another goal, to enhance the value of our coin - the token - to the maximum.
              p We believe digital currencies are in the verge of mass adoption, and we need our token to be linked to real, off-chain economy, so Hearthy tokens are designed to be used by patients to buy medical services, and by organizations to request information about users. Also tokens can be bought and stored in their wallets as a savings product, as our token tends to be deflationary tokens in the hands of patients can be used later, as medical costs raise due aging.
        #economy-animation
          .bg-economy
          .container
      section#team
        .particles
          picture#team-particle-4.particle
            source(srcset='/assets/images/particles/particle-4.webp', type='image/webp')
            img(src='/assets/images/particles/particle-4.png', alt='partilcle')
          picture#team-particle-3.particle
            source(srcset='/assets/images/particles/particle-3.webp', type='image/webp')
            img(src='/assets/images/particles/particle-3.png', alt='partilcle')
        .coins
          picture#team-coin-4.coin
            source(srcset='/assets/images/particles/coin-4.webp', type='image/webp')
            img(src='/assets/images/particles/coin-4.png', alt='coin')
          picture#team-coin-3.coin
            source(srcset='/assets/images/particles/coin-3.webp', type='image/webp')
            img(src='/assets/images/particles/coin-3.png', alt='coin')
        .container
          h1#team-title
            span The 
            strong Team
          .team-wrapper
            +team()
        .coins
          picture#team-coin-2.coin
            source(srcset='/assets/images/particles/coin-2.webp', type='image/webp')
            img(src='/assets/images/particles/coin-2.png', alt='coin')
          picture#team-coin-1.coin
            source(srcset='/assets/images/particles/coin-1.webp', type='image/webp')
            img(src='/assets/images/particles/coin-1.png', alt='coin')
      section#contact
        .melt
        .container
          .content
            .logo
              picture
                source(srcset='/assets/images/logo2.svg', type='image/svg+xml')
                img(src='/assets/images/logo2.png', alt='logo')
              div 2017
            .contact-links
              a.link(href="")
                .icon.icon-slack2
                .text Slack
              a.link(href="")
                .icon.icon-reddit2
                .text Reddit
              a.link(href="")
                .icon.icon-bitcoin2
                .text Bitcoin Talk

    +footer()
