include ../components/header
include ../components/footer
include ../components/analytics
include ../components/team
include ../components/contactSlack

doctype html
html(lang="es")
  head
    title HearthyCo
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(description='')

    link(rel="shortcut icon", href="/assets/favicon.ico" + tag, type="image/x-icon")
    link(href='style.css' + tag, rel='stylesheet')
    script(src='main.js' + tag)
    +analytics()
  body#index.page
    +header()
    #content-page
      section#intro
        #bg-intro-particles1.bg-particles
        #bg-intro-particles2.bg-particles
        .particles
          picture#intro-particle-4.particle
            source(srcset='/assets/images/particles/particle-4.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/particle-4.png' + tag, alt='partilcle')
          picture#intro-particle-3.particle
            source(srcset='/assets/images/particles/particle-3.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/particle-3.png' + tag, alt='partilcle')
          picture#intro-particle-2.particle
            source(srcset='/assets/images/particles/particle-2.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/particle-2.png' + tag, alt='partilcle')
        .container.split
          .item.left
            .item-content
              h1#intro-title
                .line
                  span Universal Digital
                .line
                  strong Health Care
                  span delivered
              p With Hearthy we want to create a decentralized, open and sustainable ecosystem to improve health care access to everyone, regardless of income, making health care efficient, agnostic to jurisdiction and user-centered.
              a(href="/assets/images/Hearthy-whitepaper.pdf", target='_blank').button Download whitepaper
          .item.right
            #intro-layers
              picture#layer-3.layer
                source(srcset='/assets/images/intro-layers/layer-3.webp' + tag, type='image/webp')
                img(src='/assets/images/intro-layers/layer-3.png' + tag, alt='intro image layer 3')
              picture#layer-2.layer
                source(srcset='/assets/images/intro-layers/layer-2.webp' + tag, type='image/webp')
                img(src='/assets/images/intro-layers/layer-2.png' + tag, alt='intro image layer 2')
              picture#layer-1.layer
                source(srcset='/assets/images/intro-layers/layer-1.webp' + tag, type='image/webp')
                img(src='/assets/images/intro-layers/layer-1.png' + tag, alt='intro image layer 1')
        .particles
          picture#intro-particle-1.particle
            source(srcset='/assets/images/particles/particle-1.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/particle-1.png' + tag, alt='partilcle')
      section#featured
        .container
          .featured
            span Featured on:
          .logo#launchpad
          .logo#health20
          .logo#pirates

      section#explanation
        #fixed-content
          .container
            #issues
              #issue-1.issue
                .split
                  .item.left
                    h1#explanation-title
                      .line
                        span What problems
                      .line
                        strong Hearthy 
                        span solves?
                    #text-1.text
                      h3 Affordable access to healthcare
                      p Cutting out the middleman while reducing patient visit time and providing greater access to a more reliable PHR will decrease associated healthcare costs.
                      p While PHRs are typically expensive, our platform is completely free through an open source initiative. It is simple to install and there are no licenses to purchase.
                  .item.right
                    .animation#animation-1
              #issue-2.issue
                .split
                  .item.left
                    #text-2.text
                      h3 Empowering patients 
                      p With our ecosystem, patients have complete control of their medical records that are easily and seamlessly transferable to different healthcare providers. With Hearthy , patients can be their own healthcare advocate.
                  .item.right
                    .animation#animation-4
              #issue-3.issue
                .split
                  .item.left
                    #text-3.text
                      h3 Ownership of data and user centric KYC
                      p We give patients control over their medical information. They can customize privacy settings and sharing options. Choosing to give access to healthcare providers and researchers, results in tokens or cash back on premiums. The ecosystem, by design, ensures the highest level of security for private data through a user-friendly dashboard. At the same time, Health organization become truly accountable when joining our ecosystem.
                  .item.right
                    .animation#animation-3
              //- #issue-4.issue
              //-   .split
              //-     .item.left
              //-       #text-4.text
              //-         h3 Proof of identity
              //-         p We manage the third problem when it comes to PHRs. There are 1,500 million unidentified  people in the World. How can we grant them the right to health care if they cannot prove their identity? With biometric and signature based protection we can create a unique ID for every user, without depending on any jurisdiction or health service, all the rest of identification will be constructed on an additional layer, or combined with other services, such as CIVIC.
              //-         p Also our PHR can be exported, printed or shared just by the user.The data belong to the patient, not to an institution, a State or even us
              //-     .item.right
              //-       .animation#animation-2
              #issue-5.issue
                .split
                  .item.left
                    #text-5.text
                      h3 Open Research
                      p Accessing health data can be tough for researchers, but it can be improved by creating an aggregated anonymized repository of medical data which can give researchers and developers tools to create predictive models, population health apps...
                      p Our repository will be open to every researcher,  every individual can give access to their anonymized data if they want, just by telling the user why they want the data and who they are. Users can also be rewarded for sharing their medical data.
                  .item.right
                    .animation#animation-5
      section#how
        .container
          #how-image
          h1#how-title
            span How 
            strong Hearthy 
            span works?
          p The Hearthy ecosystem consists of a protocol that supports a blockchain-based PHR, a value-sharing digital currency, and a suite of open-source applications that facilitate adoption and increase network effects.

          p In our ecosystem patients, medical professionals, providers and EHR vendors communicate with each other, generate and transfer value and increase their efficiency, deploying a system that is more economical, efficient and user-centered.

          p Hearthy is an open ecosystem, close to the real economy, and designed to give it an actual off-chain use, to its own currency.

          p More info on how it works in our whitepaper.

          a(href="/assets/images/Hearthy-whitepaper.pdf", target='_blank').button   Download whitepaper
      section#economy
        .container
          h1#economy-title 
            span A 
            strong health-oriented 
            span economy
          .split
            .item.left
              p One of the biggest problems in health care is related to the fact that economic success of organizations related to health care is not necessarily linked to their health outcomes. This happens routinely (eg. homeopathy) and creates huge distortions and inefficiencies in the market. A health-related token and a health-oriented economy must encourage users and organizations to achieve better health outcomes.
              p Every organization working at the ecosystem will have a Health Score, based on its combined user health scorings, that can result in lower fees for the organizations demonstrating the best performance.
            .item.right
              p Thi also help us to achieve another goal, to enhance the value of our coin -the token- to the maximum.
              p We believe digital currencies are in the verge of mass adoption, and we need our token to be linked to real, off-chain economy, so Hearthy tokens are designed to be used by patients to buy medical services, and by organizations to request information about users. Also tokens can be bought and stored in their wallets as a savings product, as our token tends to be deflationary tokens in the hands of patients can be used later, as medical costs raise due aging.
        #economy-animation
          .bg-economy
          .container
            #coin-animation
              picture#economy-coin
                source(srcset='/assets/images/hearthy-coin.webp' + tag, type='image/webp')
                img(src='/assets/images/hearthy-coin.png' + tag, alt='coin shadow')
              picture#economy-coin-shadow
                source(srcset='/assets/images/hearthy-shadow.webp' + tag, type='image/webp')
                img(src='/assets/images/hearthy-shadow.png' + tag, alt='coin shadow')
      section#apps
        .apps-intro
          .container
            h1#apps-title
              strong Demo
              span Apps
            p Hearthy is developing a series of demo apps to show the potential of the ecosystem, our two first apps are a chatbot to create medical apointments and the first development of Hearthy, our doctor-patient communication app.
        #hearthy-bot.section
          .container
            .split
              .item.left
                picture
                  source(srcset='/assets/images/hearthybot.webp' + tag, type='image/webp')
                  img(src='/assets/images/hearthybot.png' + tag, alt='hearthybot')
              .item.right
                h2 Hearthybot
                p Hearthybot is a tiny chatbot, its the most basic automated agent in our ecosystem and it just helps in creating a medical apointments. It's a very early release and its functions are still in development.
                .soon Coming soon
        #hearthy-app.section
          .container
            .split
              .item.left
                picture
                  source(srcset='/assets/images/hearthyapp.webp' + tag, type='image/webp')
                  img(src='/assets/images/hearthyapp.png' + tag, alt='hearthyapp')
              .item.right
                h2 Hearthyapp
                p With this app patients and doctors can make online consultations, share photos and videos and create health milestones in their PHR.
                .soon Coming soon
      section#roadmap
        .roadmap-intro
          .container
            h1#roadmap-title
              strong Roadmap
            p The progress of the company can be seen in the following roadmap, the company started as a telemedicine company, where the PHR was secondary, as we have progressed we understood the PHR as the backbone of the medical revolution that is about to arrive Blockchain as the most promising technology to undertake this revolution.
        .roadmap-image
          .container
            picture#map
              source(srcset='/assets/images/roadmap/roadmap-image-mobile.png' + tag, media='(max-width: 420px)')
              source(srcset='/assets/images/roadmap/roadmap-image.webp' + tag, type='image/webp')
              img(src='/assets/images/roadmap/roadmap-image.png' + tag, alt='roadmap')
            picture#roadmap-1.illustration
              source(srcset='/assets/images/roadmap/roadmap-1.webp' + tag, type='image/webp')
              img(src='/assets/images/roadmap/roadmap-1.png' + tag, alt='roadmap app illustration')
            picture#roadmap-2.illustration
              source(srcset='/assets/images/roadmap/roadmap-2.webp' + tag, type='image/webp')
              img(src='/assets/images/roadmap/roadmap-2.png' + tag, alt='roadmap medication illustration')
            picture#roadmap-3.illustration
              source(srcset='/assets/images/roadmap/roadmap-3.webp' + tag, type='image/webp')
              img(src='/assets/images/roadmap/roadmap-3.png' + tag, alt='roadmap book illustration')
            picture#roadmap-4.illustration
              source(srcset='/assets/images/roadmap/roadmap-4.webp' + tag, type='image/webp')
              img(src='/assets/images/roadmap/roadmap-4.png' + tag, alt='roadmap rocket illustration')

      section#team
        .particles
          picture#team-particle-4.particle
            source(srcset='/assets/images/particles/particle-4.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/particle-4.png' + tag, alt='partilcle')
          picture#team-particle-3.particle
            source(srcset='/assets/images/particles/particle-3.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/particle-3.png' + tag, alt='partilcle')
        .coins
          picture#team-coin-4.coin
            source(srcset='/assets/images/particles/coin-4.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/coin-4.png' + tag, alt='coin')
          picture#team-coin-3.coin
            source(srcset='/assets/images/particles/coin-3.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/coin-3.png' + tag, alt='coin')
        .container
          h1#team-title
            span The 
            strong Team
          .team-wrapper
            +team()
        .coins
          picture#team-coin-2.coin
            source(srcset='/assets/images/particles/coin-2.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/coin-2.png' + tag, alt='coin')
          picture#team-coin-1.coin
            source(srcset='/assets/images/particles/coin-1.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/coin-1.png' + tag, alt='coin')
      section#contact
        .melt
        .container
          .content
            .logo
              picture
                source(srcset='/assets/images/logo2.svg' + tag, type='image/svg+xml')
                img(src='/assets/images/logo2.png' + tag, alt='logo')
              div 2017
            .contact-links
              a.link(href='https://slack-invite.hearthy.co', target='_blank')
                .icon.icon-slack2
                .text Slack
              //- a.link(href="")
              //-   .icon.icon-reddit2
              //-   .text Reddit
              //- a.link(href="")
              //-   .icon.icon-bitcoin2
              //-   .text Bitcoin Talk
              a.link(href='https://twitter.com/hearthyco', target='_blank')
                .icon.icon-twitter2
                .text Twitter
              a.link(href='https://github.com/hearthyco', target='_blank')
                .icon.icon-github2
                .text Github
              a.link(href='https://medium.com/@gluegl/', target='_blank')
                .icon.icon-medium2
                .text Medium

    +footer()
    +contactSlack()
