include ../components/header
include ../components/footer
include ../components/analytics
include ../components/team
include ../components/advisors
include ../components/contactTelegram

doctype html
html(lang="en")
  head
    title HearthyCo
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(description='')

    link(rel="shortcut icon", href="/assets/favicon.ico" + tag, type="image/x-icon")
    link(href='style.css' + tag, rel='stylesheet')
    script(src='main.js' + tag)
    +analytics()
  body#index.page
    +header()
    #content-page
      section#intro
        #bg-intro-particles1.bg-particles
        #bg-intro-particles2.bg-particles
        .particles
          picture#intro-particle-4.particle
            source(srcset='/assets/images/particles/particle-4.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/particle-4.png' + tag, alt='partilcle')
          picture#intro-particle-3.particle
            source(srcset='/assets/images/particles/particle-3.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/particle-3.png' + tag, alt='partilcle')
          picture#intro-particle-2.particle
            source(srcset='/assets/images/particles/particle-2.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/particle-2.png' + tag, alt='partilcle')
        .container.split
          .item.left
            .item-content
              h1#intro-title
                .line
                  span Universal Digital
                .line
                  strong Health Care
                  span delivered
              p Hearthy wants to create a decentralized, open and sustainable ecosystem to improve health care access to everyone, regardless of income. Hearthy’s ecosystem will make healthcare more efficient, agnostic to jurisdiction and patient-centered.
              .presale
                .presale-link Presale whitelist is closed, for more information please contact us at: 
                  a(href="mailto:support@hearthy.co?Subject=presale") support@hearthy.co
          .item.right
            #intro-illustration
              picture
                source(srcset='/assets/images/intro-illustration.webp' + tag, type='image/webp')
                img(src='/assets/images/intro-illustration.png' + tag, alt='intro image')
            #try
              .new New
              h3 Do you wanna try the experience?
              .buttons
                a(href='https://client.demo.hearthy.co' , target='_blank').button Try demo as patient
                a(href='https://professional.demo.hearthy.co' , target='_blank').button Try demo as physician
        .particles
          picture#intro-particle-1.particle
            source(srcset='/assets/images/particles/particle-1.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/particle-1.png' + tag, alt='partilcle')
      section#featured
        .container
          .featured
            span Featured on:
          .logo#launchpad
          .logo#health20
          .logo#pirates

      section#explanation
        #fixed-content
          .container
            #issues
              #issue-1.issue
                .split
                  .item.left
                    h1#explanation-title
                      .line
                        span What problems is
                      .line
                        strong Hearthy
                        span solving?
                    #text-1.text
                      h3 Affordable access to healthcare
                      p Decrease of healthcare costs by cutting out the middleman in the access-to-health process: removing the middleman from the equation has the effect of drastically reducing patients’ waiting time, and quickly giving access to more reliable Personal Health Records (PHR).
                      p While PHRs are typically expensive, Hearhty’s platform is completely free through an open source initiative. It is simple to install and there are no licenses to purchase.
                  .item.right
                    .animation#animation-1
              #issue-2.issue
                .split
                  .item.left
                    #text-2.text
                      h3 Empowering patients
                      p Hearhty’s ecosystem puts the control of medical records in the hands of the patients themselves, who become their own healthcare advocate. The records are also easily and seamlessly transferable to different healthcare providers with different IT systems and architecture.
                  .item.right
                    .animation#animation-4
              #issue-3.issue
                .split
                  .item.left
                    #text-3.text
                      h3 Ownership of data and user centric KYC
                      p Patients can customize privacy settings and sharing options of their medical records through a user-friendly dashboard. Choosing to give access to healthcare providers and researchers results in tokens or cash back on premiums.
                      p The ecosystem, by design, ensures also the highest level of security for private data. At the same time, healthcare providers become truly accountable when joining Hearthy’s ecosystem.
                  .item.right
                    .animation#animation-3
              //- #issue-4.issue
              //-   .split
              //-     .item.left
              //-       #text-4.text
              //-         h3 Proof of identity
              //-         p We manage the third problem when it comes to PHRs. There are 1,500 million unidentified  people in the World. How can we grant them the right to health care if they cannot prove their identity? With biometric and signature based protection we can create a unique ID for every user, without depending on any jurisdiction or health service, all the rest of identification will be constructed on an additional layer, or combined with other services, such as CIVIC.
              //-         p Also our PHR can be exported, printed or shared just by the user.The data belong to the patient, not to an institution, a State or even us
              //-     .item.right
              //-       .animation#animation-2
              #issue-5.issue
                .split
                  .item.left
                    #text-5.text
                      h3 Open Research
                      p Accessing health data can be tough for researchers. Hearthy is solving the problem by creating an aggregated anonymous repository of medical data, which can give researchers and developers an invaluable pool of information to create predictive models and healthcare applications, and solve public health problems.
                      p Patients registered on Hearthy’s ecosystem give access to their data anonymously to researchers, and get rewards for sharing.
                  .item.right
                    .animation#animation-5
      section#how
        .container
          #how-image
          h1#how-title
            span How 
            strong Hearthy 
            span works?
          p The Hearthy ecosystem consists of a protocol that supports a blockchain-based PHR, a value-sharing digital currency, and a suite of open-source applications that facilitate adoption and increase network effects.

          p In our ecosystem, patients, medical professionals, healthcare providers and Electronic Health Records (EHR) vendors communicate with each other, generate and transfer value and increase the efficiency, building and deploying a system that is more economical, efficient and patient-centered.

          //- NOTE: Keep this?
          //- p Hearthy is an open ecosystem, close to the real economy, and designed to give it an actual off-chain use, to its own currency.

          //- p More info on how it works in our whitepaper.

          a(href="/assets/images/Hearthy-whitepaper.pdf", target='_blank').button   Download whitepaper
      section#economy
        .container
          h1#economy-title 
            span A 
            strong health-oriented 
            span economy
          .split
            .item.left
              p One of the biggest problems of healthcare nowadays is the healthcare providers’ low accountability regarding the health outcomes of their patients. This creates huge distortion and inefficiencies in the market. A health-related token and a health-oriented economy such as Hearty’s, will encourage users and organizations to achieve better health outcomes.
              p Every organization working in the ecosystem will have a Health Score, determined by patients’ scorings. Organizations with highest scores and best performance get lower ecosystem fees.
            .item.right
              p This helps Hearthy achieve another goal, which is to raise the value of the token.
              p We believe digital currencies are in the verge of mass adoption, and we need our token to be linked to real, off-chain economy. Hearthy tokens are designed to be used by patients to buy medical services, and by medical organizations and health care providers to request information about patients.
              p Tokens can also be bought and stored in wallets as a savings product. Hearthy’s token tends to be deflationary so it can be used later, as costs of aging rise.
        #economy-animation
          .bg-economy
          .container
            #coin-animation
              picture#economy-coin
                source(srcset='/assets/images/hearthy-coin.webp' + tag, type='image/webp')
                img(src='/assets/images/hearthy-coin.png' + tag, alt='coin shadow')
              picture#economy-coin-shadow
                source(srcset='/assets/images/hearthy-shadow.webp' + tag, type='image/webp')
                img(src='/assets/images/hearthy-shadow.png' + tag, alt='coin shadow')
      section#apps
        .apps-intro
          .container
            h1#apps-title
              strong Demo
              span Apps
            p Hearthy is developing a series of demo apps to show the potential of the ecosystem. The first two apps are a chatbot to create medical appointments, and the doctor-patient communication app to let patients chat with a healthcare provider.
        #hearthy-bot.section
          .container
            .split
              .item.left
                picture
                  source(srcset='/assets/images/hearthybot.webp' + tag, type='image/webp')
                  img(src='/assets/images/hearthybot.png' + tag, alt='hearthybot')
              .item.right
                h2 Hearthyapp Patient side
                p This is a mobile client for the Hearthyapp. It allows patients to store medical data, create appointments, be up to date with their medication and pay for telemedicine services.
                a(href='https://client.demo.hearthy.co' , target='_blank').button Try demo as patient
        #hearthy-app.section
          .container
            .split
              .item.left
                picture
                  source(srcset='/assets/images/hearthyapp.webp' + tag, type='image/webp')
                  img(src='/assets/images/hearthyapp.png' + tag, alt='hearthyapp')
              .item.right
                h2 Hearthyapp Physician side
                p This a desktop client for the professional, here doctors can talk to patients, prescribe medication, review medical images… for access the platform please use these credentials:
                .credentials
                  .user
                    strong User: 
                    span fernando@hearthyapp.com
                  .pass
                    strong Pass: 
                    span demo
                a(href='https://professional.demo.hearthy.co' , target='_blank').button Try demo as physician
        .disclaimer
          p
            div
              img(src='/assets/images/icon-info.png' + tag, alt='icon info')
              strong Disclaimer: 
            .text This is an alpha version, still nor connected to the testnet. There is not real physicians on this version of the app, so all data, interactions and users are for demonstration.
      section#roadmap
        .roadmap-intro
          .container
            h1#roadmap-title
              strong Roadmap
            //- NOTE: Keep this?
            //- p The progress of the company can be seen in the following roadmap, the company started as a telemedicine company, where the PHR was secondary, as we have progressed we understood the PHR as the backbone of the medical revolution that is about to arrive Blockchain as the most promising technology to undertake this revolution.
        .roadmap-image
          .container
            picture#map
              source(srcset='/assets/images/roadmap/roadmap-image-mobile.png' + tag, media='(max-width: 420px)')
              source(srcset='/assets/images/roadmap/roadmap-image.webp' + tag, type='image/webp')
              img(src='/assets/images/roadmap/roadmap-image.png' + tag, alt='roadmap')
            picture#roadmap-1.illustration
              source(srcset='/assets/images/roadmap/roadmap-1.webp' + tag, type='image/webp')
              img(src='/assets/images/roadmap/roadmap-1.png' + tag, alt='roadmap app illustration')
            picture#roadmap-2.illustration
              source(srcset='/assets/images/roadmap/roadmap-2.webp' + tag, type='image/webp')
              img(src='/assets/images/roadmap/roadmap-2.png' + tag, alt='roadmap medication illustration')
            picture#roadmap-3.illustration
              source(srcset='/assets/images/roadmap/roadmap-3.webp' + tag, type='image/webp')
              img(src='/assets/images/roadmap/roadmap-3.png' + tag, alt='roadmap book illustration')
            picture#roadmap-4.illustration
              source(srcset='/assets/images/roadmap/roadmap-4.webp' + tag, type='image/webp')
              img(src='/assets/images/roadmap/roadmap-4.png' + tag, alt='roadmap rocket illustration')

      section#team
        .particles
          picture#team-particle-4.particle
            source(srcset='/assets/images/particles/particle-4.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/particle-4.png' + tag, alt='partilcle')
          picture#team-particle-3.particle
            source(srcset='/assets/images/particles/particle-3.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/particle-3.png' + tag, alt='partilcle')
        .coins
          picture#team-coin-4.coin
            source(srcset='/assets/images/particles/coin-4.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/coin-4.png' + tag, alt='coin')
          picture#team-coin-3.coin
            source(srcset='/assets/images/particles/coin-3.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/coin-3.png' + tag, alt='coin')
        .container
          h1#team-title
            span The 
            strong Team
          .team-wrapper
            +team()
        .coins
          picture#team-coin-2.coin
            source(srcset='/assets/images/particles/coin-2.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/coin-2.png' + tag, alt='coin')
          picture#team-coin-1.coin
            source(srcset='/assets/images/particles/coin-1.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/coin-1.png' + tag, alt='coin')
      section#advisors
        .container
          h1#advisors-title
            strong Advisors
          .advisors-wrapper
            +advisors()
      section#contact
        .melt
        .container
          .content
            .logo
              picture
                source(srcset='/assets/images/logo2.svg' + tag, type='image/svg+xml')
                img(src='/assets/images/logo2.png' + tag, alt='logo')
              div 2017
            .contact-links
              a.link(href='https://t.me/joinchat/FH65F0IDyxLajpe-Kp6ecw')
                .icon.icon-telegram2
                .text Telegram
              a.link(href='https://slack-invite.hearthy.co', target='_blank')
                .icon.icon-slack2
                .text Slack
              //- a.link(href="")
              //-   .icon.icon-reddit2
              //-   .text Reddit
              //- a.link(href="")
              //-   .icon.icon-bitcoin2
              //-   .text Bitcoin Talk
              a.link(href='https://twitter.com/hearthyco', target='_blank')
                .icon.icon-twitter2
                .text Twitter
              a.link(href='https://github.com/hearthyco', target='_blank')
                .icon.icon-github2
                .text Github
              a.link(href='https://medium.com/@hearthy', target='_blank')
                .icon.icon-medium2
                .text Medium

    +footer()
    +contactTelegram()
