include ../components/header
include ../components/footer
include ../components/analytics
include ../components/joinUs

doctype html
html(lang="en")
  head
    title HearthyCo | Presale
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(description='')

    link(rel="shortcut icon", href="/assets/favicon.ico" + tag, type="image/x-icon")
    link(href='style.css' + tag, rel='stylesheet')
    script(src='main.js' + tag)
    +analytics()
  body#presale.page
    +header()
    #content-page
      section#intro
        #bg-intro-particles1.bg-particles
        #bg-intro-particles2.bg-particles
        .particles
          picture#intro-particle-4.particle
            source(srcset='/assets/images/particles/coin-4.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/coin-4.png' + tag, alt='partilcle')
          picture#intro-particle-3.particle
            source(srcset='/assets/images/particles/coin-3.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/coin-3.png' + tag, alt='partilcle')
          picture#intro-particle-2.particle
            source(srcset='/assets/images/particles/coin-2.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/coin-2.png' + tag, alt='partilcle')
        .container.split
          .item.left
            .item-content
              h1#intro-title
                span Join the 
                strong presale
                span now
              h3 October 15th - November 15th
              p
                span Hearthy Presale will open on October 15th, Presale will reserve a maximum of 
                strong 8.700.000 HER
                span , with a 45% Bonus. Hearthy Presale is an excellent opportunity to be a part of one of the most exciting projects in the blockchain sphere.
              a(href='/presale-form').button Join the Whitelist
          .item.right
            picture#presale-illustration
              source(srcset='/assets/images/presale/presale-illustration.webp' + tag, type='image/webp')
              img(src='/assets/images/presale/presale-illustration.png' + tag, alt='presale-illustration image')

        .particles
          picture#intro-particle-1.particle
            source(srcset='/assets/images/particles/coin-1.webp' + tag, type='image/webp')
            img(src='/assets/images/particles/coin-1.png' + tag, alt='partilcle')

      section#presale-terms
        .container
          h1#presale-terms-title 
            strong Hearthy 
            span presale terms
          h2
            span The Hearthy Presale aims to raise a maximum of 
            strong 6.000 ETH.
          .split
            .item.left
              p All resources will be used to prepare for a future crowdsale, including the following measures: completing the minimum viable product, completing the formal whitepaper, legal expenditures and boost the team and  marketing campaign.
              p If the maximum cap is reached, the presale will be halted at that time. If this cap is not reached, it will last for 4 weeks until closing.
              p Presale participants will receive  45% more tokens in the crowdsale relative to the equivalent amount contributed in the crowdsale. Tokens will be distributed during the crowdsale.
            .item.right
              p The main crowdsale will aim to raise a minimum of 6.000 ETH and a maximum of 60.000 ETH though these numbers are flexible at this stage.
              p The Presale has not a formal mincap, but if  a minimum of 600ETH is not reached the project will be frozen and a refund will be avaliable for all the early contributors.
          .example
            h3 Example
            .split
              .item.left
                p
                  span If a participant contributed 
                  strong 100 ETH in the presale and 100 ETH in the crowdsale, 
                  span they would receive the following: (100 x 1.45) + (100 x 1) = 
                  strong 245 ETH worth of HER. 
                p
                  span If they contributed 
                  strong 100 ETH in the presale, 
                  span they would receive (100 x 1.45) = 145 ETH worth of Hearthy Tokens (HER).
              .item.right
                p
                  span If they contributed 
                  strong 100 ETH during the future crowdsale alone, 
                  span they would receive (100 x 1.00) = 100 ETH worth of HER.
      section#ico
        .container
          h1#ico-title
            strong ICO 
            span Terms
          .split
            .item.left
              h3 
                span Maximum cap on crowdsale: 
                strong 60.000 ETH
              p Total token supply: 109.830.769 HER of which:
              ul
                li
                  span 65% to 
                  strong ICO Investors
                li
                  span 23% go to 
                  strong Hearthy Foundation
                li
                  span 10% to 
                  strong founders & advisors 
                li
                  span 2% to 
                  strong ICO bounties

            .item.right
              picture#ico-illustration
                source(srcset='/assets/images/presale/ico-terms.webp' + tag, type='image/webp')
                img(src='/assets/images/presale/ico-terms.png' + tag, alt='ico terms illustration')
      section#keydates
        .container
          h1#keydates-title Keydates
          p Presale will be opened from October 15 2017 to November 15. ICO will be opened approximately the first week of December, and will remain opened for  a maximum of 3 weeks.
          .keydates-graph
          table.keydates-table
            thead
              tr
                th Period
                th Bonus
                th Amount
            tbody
              tr
                td Presale
                td 45%
                td 8.700.000
              tr
                td Early ICO
                td 20%
                td 6.000.000
              tr
                td Early ICO
                td 10%
                td 11.000.000
              tr
                td Early ICO
                td 5%
                td 15.750.000
              tr
                td ICO
                td No bonus
                td 30.000.000

          //- picture#keydates-illustration
          //-   source(srcset='/assets/images/presale/keydates-illustration.webp' + tag, type='image/webp')
          //-   img(src='/assets/images/presale/keydates-illustration.png' + tag, alt='keydates-illustration image')
      section#governance
        .container
          .split
            .item.left
              h1#governance-title
                span Token 
                strong Design and Post ICO Governance
              p The primary use of tokens is for their owners to receive medical services by using them.Therefore the patients, health care organizations and doctors can use tokens in their daily health care-related transactions. Reaching project milestones deadlines  will trigger tokenholder votations.
              p The ownership of the HER tokens give political and partial refund rights to the token owners, when the project’s milestones are reached. (example testnet ready milestone) token owners will have the right to ask for a refund if the majority of the holders believes the team hasn’t matched the milestone correctly.
              p If more than 50% vote the project to be discontinued the project will stop and all the remaining funds stored will be refunded in form of ETH.
              p ICOFUNDING will hold these funds until the milestone is reached. 
                span For more 
                strong
                  a(href='https://blog.icofunding.com/the-need-of-an-ico-post-governance-7ef476cbd76b', target='_blank') info about this topic

            .item.right
              picture#governance-illustration
                source(srcset='/assets/images/presale/governance-illustration.webp' + tag, type='image/webp')
                img(src='/assets/images/presale/governance-illustration.png' + tag, alt='governance-illustration image')
    +footer()
    +joinUs()
