include ../components/header
include ../components/footer
include ../components/analytics
include ../components/modal-accept

doctype html
html(lang="es")
  head
    title HearthyCo | Presale
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(description='')

    link(rel="shortcut icon", href="/assets/favicon.ico" + tag, type="image/x-icon")
    link(href='style.css' + tag, rel='stylesheet')
    script(src='main.js' + tag)
    +analytics()
  body#presale-form.page.blocked
    +modal-accept
    +header()
    #content-page
      section#intro
        .container
      form#whitelist(action='', method='POST')
        section#required
          .container
            input(type='text', placeholder='Your name...', name='name', required)
            input(type='email', placeholder='Your email...', name='email', required)
            input(type='number', placeholder='Amount ot ETH...', step='0.5',min='0.5', max='10000', name='ETH', required)
        section#optional
          .container
            input(type='text', placeholder='Your public Ethereum adress...', name='Ethereum-adress')
        section#final
          .container
            label
              input(type='checkbox', required) 
              span He leido terminos y cond
            button(type='submit') Join the Whitelist
    +footer()
