include ../components/header
include ../components/footer
include ../components/analytics
include ../components/modal-accept

doctype html
html(lang="en")
  head
    title HearthyCo | Presale
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(description='')

    link(rel="shortcut icon", href="/assets/favicon.ico" + tag, type="image/x-icon")
    link(href='style.css' + tag, rel='stylesheet')
    script(src='main.js' + tag)
    +analytics()
  body#presale-form.page
    +modal-accept
    +header()
    #content-page
      section#intro
        .container
          a(href='/presale').back
            img(src='/assets/images/presale/back.png' + tag, alt='back arrow')
            span Back
          .text-intro
            h1 
              strong Join us in the 
              span future healthcare
            h3 Hearthy Presale is whitelisted, to join the whitelist just send us your contact details, our team will contact you in the follow 24/48 h. For any inquieres contact us on
      form#whitelist(action=urlZoho, method='POST')
        section#required
          .container
            h4 Required Fields
            .inputs
              input(type='text', placeholder='Your name...', name='Hearthyco-Landing Name', required)
              input(type='email', placeholder='Your email...', name='Email', required)
              input(type='number', placeholder='Amount of ETH...', step='1',min='1', max='10000', name='eth', required)#amount
        section#optional
          .container
            h4 Optional Fields
            .inputs
              label
                span.icon.icon-eth2
                input(type='text', placeholder='Your public Ethereum adress...', name='ethereum-adress')#ethereum-adress
              label
                span.icon.icon-linkedin2
                input(type='text', placeholder='Your linkedin...', name='linkedin')
              label
                span.icon.icon-twitter2
                input(type='text', placeholder='Your twitter...', name='twitter')
        section#final
          .container
            button#join-whitelist(type='submit') Join the Whitelist
    +footer()
