mixin advisors()
  -
    var advisors = [
      {
        name: "Milind Kamkolkar",
        imageName: "milind",
        linkedin: "https://www.linkedin.com/in/milind-kamkolkar-9162301"
      },{
        name: "Luis Taboada",
        imageName: "luis",
        linkedin: "https://www.linkedin.com/in/luistaboadavillamil/"
      },{
        name: "Pablo López",
        imageName: "pablo",
        linkedin: "https://www.linkedin.com/in/pablolg/"
      },{
        name: "Benjamin T.",
        imageName: "ben",
        linkedin: "https://www.linkedin.com/in/bentheobaldbrasil/"
      },{
        name: "Michiel Triebert",
        imageName: "michiel",
        linkedin: "https://www.linkedin.com/in/michieltriebert/"
      }
    ];

  for member in advisors
    .member
      a(href=member.linkedin, target='_blank', style='background-image: url("/assets/images/advisors/' + member.imageName + '.jpg' + tag + '")').member-image
        .icon.icon-linkedin2
      .name=member.name
