mixin contactTelegram()
  a(href='https://t.me/joinchat/FH65F0IDyxL2a5nsBN13vQ', target='_blank')#contact-telegram
    span.icon.icon-telegram1
    span Let´s talk, join our 
    strong Telegram
    span group!
