mixin footer()
  footer#footer
    .container
      picture.logo
        source(srcset='/assets/images/logo.svg' + tag, type='image/svg+xml')
        img(src='/assets/images/logo.png' + tag, alt='logo')
      .whitepaper
        h2 Interested in our future crowdsale?
        form
          input(type=email, placeholder='Your email...', required)
          button Subscribe

      .links
        span Hearthy &reg; 2017
        //- a(href="") Estatica 1
        //- a(href="") Estatica 2
        //- a(href="") Estatica 3
