mixin footer()
  footer#footer
    .container
      picture.logo
        source(srcset='/assets/images/logo.svg', type='image/svg+xml')
        img(src='/assets/images/logo.png', alt='logo')
      //- form#whitepaper(action=urlSubcribe + '/subscribe', method='POST')
      //-   h2 Interested in our future crowdsale?
      //-   div.newsletter.before-submit
      //-     input(type=email, placeholder='Your email...', name='email', required)
      //-     button I'm interested
      //-   .after-submit 
      //-     span You have subscribed to 
      //-     strong Hearthy
      .links
        span Hearthy &reg; 2017
        //- a(href="") Estatica 1
        //- a(href="") Estatica 2
        //- a(href="") Estatica 3
