mixin header()
  header#header
    .container
      img.logo(src="/assets/images/logo.png")
      .talk
        a(href="")
          .icon.icon-car
          .text talk
        a(href="")
          .icon.icon-car
          .text talk
        a(href="")
          .icon.icon-car
          .text talk
