mixin header()
  header#header
    .container
      picture.logo
        source(srcset='/assets/images/logo.svg', type='image/svg+xml')
        img(src='/assets/images/logo.png', alt='logo')
      .talk
        a(href="")
          .icon.icon-car
          .text talk
        a(href="")
          .icon.icon-car
          .text talk
        a(href="")
          .icon.icon-car
          .text talk
