mixin header()
  header#header
    .container
      picture.logo
        source(srcset='/assets/images/logo.svg', type='image/svg+xml')
        img(src='/assets/images/logo.png', alt='logo')
      .talk
        a(href='https://slack-hearthy-.herokuapp.com/', target='_blank')
          .icon.icon-slack1
          .text Slack
        a(href="")
          .icon.icon-reddit1
          .text Reddit
        a(href="")
          .icon.icon-bitcoin1
          .text Bitcoin Talk
