mixin header()
  header#header
    .container
      picture.logo
        source(srcset='/assets/images/logo.svg' + tag, type='image/svg+xml')
        img(src='/assets/images/logo.png' + tag, alt='logo')
      .talk
        a(href='https://slack-invite.hearthy.co', target='_blank')
          .icon.icon-slack1
          .text Slack
        //- a(href='https://reddit/', target='_blank')
        //-   .icon.icon-reddit1
        //-   .text Reddit
        //- a(href='https://bitcoin/', target='_blank')
        //-   .icon.icon-bitcoin1
        //-   .text Bitcoin Talk
        a(href='https://twitter.com/hearthyco', target='_blank')
          .icon.icon-twitter1
          .text Twitter
        a(href='https://github.com/hearthyco', target='_blank')
          .icon.icon-github1
          .text Github
        a(href='https://medium.com/@gluegl/', target='_blank')
          .icon.icon-medium1
          .text Medium