mixin header()
  header#header
    .container
      picture.logo
        source(srcset='/assets/images/logo.svg', type='image/svg+xml')
        img(src='/assets/images/logo.png', alt='logo')
      .talk
        a(href="")
          .icon.slack
          .text Slack
        a(href="")
          .icon.reddit
          .text Reddit
        a(href="")
          .icon.bitcoin
          .text Bitcoin Talk
