mixin header()
  header#header
    .container
      a(href="/").logo
        picture
          source(srcset='/assets/images/logo.svg' + tag, type='image/svg+xml')
          img(src='/assets/images/logo.png' + tag, alt='logo')
      a(href='/assets/images/Hearthy-whitepaper.pdf', target='_blank').button Download whitepaper
      .talk
        a(href='https://t.me/joinchat/FH65F0IDyxLajpe-Kp6ecw')
          .icon.icon-telegram1
          .text Telegram
        a(href='https://slack-invite.hearthy.co', target='_blank')
          .icon.icon-slack1
          .text Slack
        //- a(href='https://reddit/', target='_blank')
        //-   .icon.icon-reddit1
        //-   .text Reddit
        //- a(href='https://bitcoin/', target='_blank')
        //-   .icon.icon-bitcoin1
        //-   .text Bitcoin Talk
        a(href='https://twitter.com/hearthyco', target='_blank')
          .icon.icon-twitter1
          .text Twitter
        a(href='https://github.com/hearthyco', target='_blank')
          .icon.icon-github1
          .text Github
        a(href='https://medium.com/@hearthy', target='_blank')
          .icon.icon-medium1
          .text Medium