mixin modal-accept()
  #modal-accept.active
    .veil
    .content
      .terms
        h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem exercitationem provident itaque asperiores, ipsa beatae nulla repudiandae! Assumenda ad, autem alias a quo, inventore corrupti maiores excepturi natus, esse fugit.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem exercitationem provident itaque asperiores, ipsa beatae nulla repudiandae! Assumenda ad, autem alias a quo, inventore corrupti maiores excepturi natus, esse fugit.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem exercitationem provident itaque asperiores, ipsa beatae nulla repudiandae! Assumenda ad, autem alias a quo, inventore corrupti maiores excepturi natus, esse fugit.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem exercitationem provident itaque asperiores, ipsa beatae nulla repudiandae! Assumenda ad, autem alias a quo, inventore corrupti maiores excepturi natus, esse fugit.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem exercitationem provident itaque asperiores, ipsa beatae nulla repudiandae! Assumenda ad, autem alias a quo, inventore corrupti maiores excepturi natus, esse fugit.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem exercitationem provident itaque asperiores, ipsa beatae nulla repudiandae! Assumenda ad, autem alias a quo, inventore corrupti maiores excepturi natus, esse fugit.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem exercitationem provident itaque asperiores, ipsa beatae nulla repudiandae! Assumenda ad, autem alias a quo, inventore corrupti maiores excepturi natus, esse fugit.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem exercitationem provident itaque asperiores, ipsa beatae nulla repudiandae! Assumenda ad, autem alias a quo, inventore corrupti maiores excepturi natus, esse fugit.
      .buttons
        a(href="/presale")#cancel-button.button
          span No Acepto
        a(href="")#accept-button.button
          span Acepto
