mixin team()
  -
    var team = [
      {
        name: "Javier Blanco",
        imageName: "javi",
        position: "CEO",
        linkedin: "https://linkedin.com/in/javierblancothomas"
      },{
        name: "David Conde Sayans",
        imageName: "david",
        position: "CCO",
        linkedin: "https://linkedin.com/in/david-conde-sayans"
      },{
        name: "Juan Sebastián Valencia",
        imageName: "juan",
        position: "CMIO",
        linkedin: "https://linkedin.com/in/juansebastianvalencia"
      },{
        name: "Diana D. Reinoso",
        imageName: "diana",
        position: "Lead designer",
        linkedin: "https://linkedin.com/in/diana-díaz-reinoso-6955a7a0/"
      },{
        name: "Anxo Soto",
        imageName: "anxo",
        position: "TBD",
        linkedin: "https://linkedin.com/in/mancontr/"
      },{
        name: "Álex B. Ferrín",
        imageName: "alex",
        position: "Developer",
        linkedin: "https://linkedin.com/in/alejandro-bernárdez-ferrín-5b64a2147/"
      },{
        name: "César Caride",
        imageName: "cesar",
        position: "Developer",
        linkedin: "https://linkedin.com/in/cesarcaride"
      }
    ];
  mixin member-card(member)
    .member
      a(href=member.linkedin, target='_blank', style='background-image: url("/assets/images/team/' + member.imageName + '.jpg")' + tag).member-image
        .icon.icon-linkedin
      .name=member.name
      .position=member.position
  for member in team
    +member-card(member)
